<div style="padding: 20px; text-align: center;">

    <div class="row">

        <div class="col-md-12">

          <img width="60"
          class="manitaSobre"
          src="assets/img/icons/warning.gif"
          *ngIf="data.type == 'W'"
          alt="">

          <img width="60"
          class="manitaSobre"
          src="assets/img/icons/aceptado.gif"
          *ngIf="data.type == 'S'"
          alt="">

          <h1>{{ data.header }}</h1>

        </div>

    </div>

    <div class="row">

        <div class="col-md-12">

            <h2>{{ data.message }}</h2>

        </div>

    </div>

    <button mat-raised-button (click)="close()">Cerrar</button>

</div>
